/* ||| \MOBILE FIRST APPROACH/ ||| */

/* || REMOVE STYLES || */

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* || ANIMATIONS */

.body-color-transition{
    transition: 1s;
}

.diagonal-right{
  background:radial-gradient(farthest-side, black 48%,transparent 50%) no-repeat,
    black;
  background-size: 300% 300%;
  background-position:top right;
}

/* || UNIVERSAL SELECTORS */

*{
    box-sizing: border-box;
}


/* || NAV */

#main-nav{
    display: none;
    top-margin: 2em;
}

#main-nav a{
    text-decoration: none;
    color: grey;
}

#main-nav ul{
    list-style-type: none;
}

#main-nav li{
    text-align: center;
    margin-bottom: 30px;
}

/* TODO: Make navigation for Mobile */
/* | NAV BUTTON */

input[type='checkbox']{
    display: none;
}

#active:checked ~ #main-nav{
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
}

.menu-btn{
    font-size: 25px;
    color: grey;
    position: absolute;
    top: 8px;
    left: 16px;
}

/* || SUBMIT BUTTON */

.submit-btn{
    display: block;
    margin: auto;
    background-color: rgb(242, 229, 50);
    padding: 0.5em 0.9em;
    border-radius: 10px;
    font-family: 'Bakbak One', cursive;
}

/* || INPUT */

#id_sentence{
    display: block;
    margin: auto;
    background-color: #818C31;
    border: 2px solid #818C31;
    border-radius: 5px;
    font-size: larger;
    transition: transform 1.5s cubic-bezier(1,-0.72,.5,1.73);
}

#id_sentence:focus{
    outline: none;
    transform: scale(1.4, 1.4);
}

/* || ELEMENT SELECTOR */

body{
    height: 100vh;
    width: 65%;
    margin: auto;
    background: linear-gradient(180deg, rgba(194,195,34,1) 36%, rgba(17,16,13,1) 88%);
}

/* || SPECIFIC SELECTORS */

.translated-text{
    font-family: 'Acme', sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 24px;
}

#title{
    font-size: 60px;
    text-align: center;
    font-family: 'Bakbak One', cursive;
    font-family: 'Oswald', sans-serif;
}



/* || MAIN CONTAINER */
/* TODO: ADD FLEXBOX */
/* TODO: ADD BOX SHADOW */

#main-container{
    margin-top: 1.5em;
}


/* || MEDIA QUERIES */

