<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home Page | Translate To Arabic {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=IBM+Plex+Sans+Arabic:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1d9460069d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main-wrapper">
        <div id="nav-wrapper">
            <input type="checkbox" id="active" onclick="checkBoxCheck()">
            <label for="active" class="close"></label>
            <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
            <nav id="main-nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'main:translate' %}">Translate</a></li>
                </ul>
            </nav>
        </div>
        <div id="main-container">
            <header>
                <h1 id="title">Translate To Arabic</h1>
             </header>
            {% block content %} {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>