<!DOCTYPE html>
{% extends "home.html" %}
{% load translate_extras %}
{% load static %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% block title %} حول انجليزي معرب إلى عربي {% endblock %}
</head>
<body>
    {% block content %}
        <div class="form-group">
            <form method="POST" class="form-entry">
                {% csrf_token %}
                {{ form.sentence }}
                <section dir="rtl" lang="ar">
                    <p class="translated-text">{% translate sentence %}</p>
                </section>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>


