<!DOCTYPE html>
{% extends "home.html" %}
{% load translate_extras %}
{% load static %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% block title %} حول انجليزي معرب إلى عربي {% endblock %}
</head>
<body>
    {% block content %}
        <h2>Fill the form</h2>
        <div class="form-group">
            <form method="POST" class="form-entry">
                <section dir="rtl" lang="ar">
                    {% csrf_token %}
                    {{ form.sentence }}
                    {% for sen in sentence %}
                        <p class="translated-text">{% translate sen.sentence %}</p>
                    {% endfor %}
                </section>
                <p class="inner"></p>
                <button type="reset" class="clear-btn" onclick="location.href='{% url 'main:clear' %}'">clear</button>
            </form>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>
